
  <div>
    <ul>
      <li>
          <a routerLink="/home">Home</a>
      </li>
      <li>
          <a routerLink="/about">About Us</a>
      </li>
      <li>
          <a routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    <br>
    <div>
      <router-outlet></router-outlet>
    </div>

  </div>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
